<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadHistoryGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReadHistoryGenerator.Properties.Settings>
            <setting name="XmlFile" serializeAs="String">
                <value>read_history_example.xml</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>pdf</value>
            </setting>
            <setting name="TextCharts" serializeAs="String">
                <value>charts</value>
            </setting>
            <setting name="TextPdf" serializeAs="String">
                <value>2015101{0}01</value>
            </setting>
        </ReadHistoryGenerator.Properties.Settings>
    </userSettings>
</configuration>